/* Global */
:root {
  /* Color */
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-orange: #ff5722;
  /* Size */
  --size-border-radius: 4px;
  /* Animation */
  --animation-duration: 300ms;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.space {
  margin: 20px auto;
}
